$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
//

body {
  margin-top: 30px;
  background-color:#BDD0CE;
  font-family:"Roboto", Arial, sans-serif;
  margin: auto;
  text-align:center;
  margin-top:50px;

}



#game-board {
  margin: auto;
  height: 300px;
  width: 300px;
  z-index: 1;
  border: 1px solid #BDD0CE;
  display: none;
}

.visible-signin{
  display: none;
}

#show-game{
  display: none;
  float:left;
}

.square {
  background-color:#DDD;
  width: 100px;
  height: 100px;
  float: left;
  border: 1px solid black;
  border-top: 1px solid #FFF;
  border-left: 1px solid #FFF;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: -1px -1px #777 inset;
  cursor: pointer;
  font-size: 90px;

}

#show-winner{
  width:250px;
  height:50px;
  border: 1px solid black;
  font-size: 20px;
}

#game-results{
  width:250px;
  height:50px;
  border: 1px solid black;
  font-size: 20px;
}
#warning1{
  width:100px;
  height:25px;
  border: 1px solid black;
}
#warning2{
  width:100px;
  height:25px;
  border: 1px solid black;
}
