$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
//

// body {
//   margin-top: 30px;
//   background-color:#BDD0CE;
//   font-family:"Roboto", Arial, sans-serif;
//   margin:0 auto;
//   text-align:center;
//   margin-top:50px;
//
// }



// .game-board {
//   height: 318px;
//   width: 328px;
//   z-index: 1;
//   border: 1px solid black;
//   display: hidden;
//
// }

.square {
  width: 100px;
  height: 100px;
  float: left;
  border: 1px solid black;

}

#show-winner{
  width:250px;
  height:50px;
  border: 1px solid black;
}

#game-results{
  width:250px;
  height:50px;
  border: 1px solid black;
}

//
// //====Butttons For Game ====
// .


// //====Board ===
// .board-appear{
//   display: hidden;
// }
